In [6]:
import pandas as pd
import numpy as np
import jinja2

In [9]:
df = pd.read_csv('Dataframe_Volley.csv')

In [10]:
# Introduce NaN values randomly in the dataframe
df_with_nan = df.copy()

In [11]:
# Randomly replace some values with NaN
for col in df_with_nan.columns:
    indices = np.random.choice(df_with_nan.index, size=2, replace=False)  # Randomly select 2 indices
    df_with_nan.loc[indices, col] = np.nan

In [12]:
# Define a function to highlight NaN values
def highlight_nan(s):
    return ['background-color: yellow' if pd.isna(val) else '' for val in s]

In [13]:
df_with_nan_console = df_with_nan.fillna('[NaN]')
df_with_nan_console

                     Name Date_Of_Birth    Age Height
0       Osmany Juantorena    12/07/1985   39.0  200.0
1            Ivan Zaytsev         [NaN]   36.0  204.0
2        Simone Giannelli    09/08/1986  [NaN]  198.0
3         Cristian Savani         [NaN]   42.0  195.0
4  Alessandro Michieletto    05/12/2001   23.0  [NaN]
5           Daniele Lavia    04/11/1999   25.0  200.0
6             Yuri Romano    26/07/1997   28.0  203.0
7                   [NaN]    27/05/2004  [NaN]  207.0
8                   [NaN]    17/08/1975   49.0  202.0
9    Ferdinando De Giorgi    10/10/1961   63.0  [NaN]

In [4]:
df = pd.DataFrame(
    np.random.randint(0, 100, size=(10, 4)),
    columns=["Name", "Date_Of_Birth", "Age", "Height"]
)

In [10]:
# Define a function to apply styling
def highlight_columns(x):
    colors = {'Name': 'background-color: lightblue',
              'Date_Of_Birth': 'background-color: lightgreen',
              'Age': 'background-color: lightpink',
              'Height': 'background-color: lightyellow'}
    return pd.DataFrame(
        np.where(
            np.broadcast_to([col in colors for col in x.columns], x.shape),
            [colors[col] for col in x.columns],
            ''
        ),
        index=x.index, columns=x.columns
    )

# Apply styling and display the DataFrame
styled_df = df.style.apply(highlight_columns, axis=None)
styled_df

In [12]:
# Define a function to apply heatmap styling
def heatmap_style(val):
    # Normalize the value between 0 and 1
    min_val, max_val = df.min().min(), df.max().max()
    range_val = max_val - min_val
    normalized = (val - min_val) / range_val if range_val else 0.5

    # Create RGB values
    red = int(255 * (1 - normalized))
    green = int(255 * normalized)
    return f'background-color: rgb({red}, {green}, 0)'

# Apply heatmap styling
styled_df = df.style.applymap(heatmap_style)
styled_df

C:\Users\marti\AppData\Local\Temp\ipykernel_10100\26096836.py:14: FutureWarning: Styler.applymap has been deprecated. Use Styler.map instead.
  styled_df = df.style.applymap(heatmap_style)