In [19]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Dataframe_Volley.csv')

In [7]:
# Introduce NaN values randomly in the dataframe
df_with_nan = df.copy()

In [20]:
# Randomly replace some values with NaN
for col in df_with_nan.columns:
    indices = np.random.choice(df_with_nan.index, size=2, replace=False)  # Randomly select 2 indices
    df_with_nan.loc[indices, col] = np.nan

In [23]:
# Define a function to highlight NaN values
def highlight_nan(s):
    return ['background-color: yellow' if pd.isna(val) else '' for val in s]

In [26]:
df_with_nan_console = df_with_nan.fillna('[NaN]')
df_with_nan_console

                     Name Date_Of_Birth    Age Height
0       Osmany Juantorena    12/07/1985   39.0  200.0
1            Ivan Zaytsev    02/10/1988   36.0  204.0
2        Simone Giannelli    09/08/1986   28.0  198.0
3                   [NaN]    22/02/1982   42.0  195.0
4  Alessandro Michieletto         [NaN]   23.0  211.0
5           Daniele Lavia    04/11/1999  [NaN]  [NaN]
6             Yuri Romano         [NaN]   28.0  [NaN]
7    Alessandro Bovolenta    27/05/2004  [NaN]  207.0
8                   [NaN]    17/08/1975   49.0  202.0
9    Ferdinando De Giorgi    10/10/1961   63.0  178.0